<style>
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    .flex-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
    }
    .flex-container2{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .flex-menu{
        width: 15em;
        background-color: lightgrey;
        margin-bottom: .2em;
        }
        
    .flex-content{
        width: 100%;
        margin-bottom: .2em;
        background-color: rgb(161, 161, 161);
    }

    .flex-footer{
        width: 100%;
        background-color: rgb(113, 111, 111);
    }
</style>